<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mr-md-auto">
                <a href="/" class="">
                    <img src="{{ siteInfo.siteDesktopLogo.one().getUrl() }}" alt="Smart Vent"
                         class="img-responsive footer__logo">
                </a>
                <div>
                    {{ siteInfo.footerInfoText }}
                </div>
            </div>
            {% set params = {
                section: 'navigation',
                navigationPosition: 'bottom'
            } %}
            {% set entries = craft.entries(params).all() %}

            {% for entry in entries %}
                <div class="col-md-2 col-sm-6">
                    <div class="footer__header">
                        {{ entry.header }}
                    </div>
                    <div class="footer__links">
                        <ul>
                        {% if entry.linksSet|length %}
                            {% for link in entry.linksSet.all() %}

                                {% set destination = link.destination %}
                                {% if link.entryToLink|length %}
                                    {% set destination = link.entryToLink.one().url %}
                                {% endif %}

                                {% set linkActive = false %}
                                {% if craft.app.request.segments|first in destination %}
                                    {% set linkActive = true %}
                                {% endif %}
                                {% if craft.app.request.segments|first == '' and destination == siteUrl %}
                                    {% set linkActive = true %}
                                {% endif %}

                                <li class="footer__nav-item">
                                    <a class="footer__nav-link {% if linkActive  %}active{% endif %}"
                                       {% if link.openInNewTab == 1 %}target="_blank"{% endif %}
                                       href="{{ destination }}">{{ link.text }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </div>

                    {% if loop.last %}
                        <div class="footer__header">
                            Social
                        </div>
                        <div class="footer__links">
                            {% for row in siteInfo.socialLinks %}
                                <a href="{{ row.linkurl }}" rel="nofollow"
                                   class="footer__social" target="_blank"
                                   title="Follow Us">
                                    {{ row.linksvg|raw }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        {{ siteInfo.copyright }}
    </div>
</div>